.postContainer {
  margin: 0 5rem;
}

.header-post{
  max-width: 100% !important;
  margin: 0 auto !important;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.new-post {
  margin: 0px 0px 25px 0px !important;
  text-decoration: none !important;
  font-size: 1.2em;
  align-self: center;
  color: #404040;
}

.new-post-plus {
  font-size: 3.5em;
  align-self: center;
  margin: -20px 0px 0px 0px;
  padding-left: 20px;
  text-decoration: none !important;
  color: #404040;
}

.SinglePost h1 {
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}

.title_container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.title_container h4 {
  margin-left: 10px;
}

.category_name {
  border: 2px solid #404040;
  border-radius: .1em;
  color: #404040;
  margin: 12px 15px 0px 0px;
  padding: 2px 15px 3px 15px;
  align-self: flex-start;
  font-size: 1.3em;
  font-weight: 600;
  font-family: "Patua One", serif;
}

.image_container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.post_image {
  object-fit: cover;
  object-position: 0 25%;
  width: 100%;
  height: 275px;
  margin-bottom: 25px;
  border-bottom: 1px solid #a7a7a7;
}

.post_content {
  border-left: 2px solid #404040;
  border-radius: .2em;
  padding: 25px 50px;
  margin: 10px 100px;
}

.user_icon {
  padding: 25px 50px;
  margin: 10px 100px;
}

.tag_container {
  display: flex;
  justify-content: flex-start;
  margin: 0px 0px 10px 150px;
  font-size: .9em;
}

.delete-container, .edit-container {
  margin: 0px 150px 10px 0px !important;
  font-size: .9em;
}

.delete-post {
  background-color: rgb(221, 82, 82) !important;
  margin: 0px !important;
}

.edit-post {
  background-color: rgb(68, 182, 114) !important;
  margin: 0px !important;
}

.tags {
  border: 2px solid #404040;
  background-color: #404040;
  color: #fff;
  border-radius: .2em;
  padding: 5px 10px;
  margin: 0px 10px 0px 0px;
  align-self: flex-start;
}

.manage_tags, .exit_tags {
  text-decoration: underline;
  padding: 5px 50px 0px 50px;
  margin: 0px 100px 5px 100px;
  font-size: .9em;
}

.manage_tags:hover, .exit_tags:hover {
  cursor: pointer;
}

.manage_container {
  display: flex;
  justify-content: flex-start;
  padding: 5px 50px 0px 50px;
  margin: 0px 100px 20px 100px;
  font-size: .9em;
}

.all_manage_tags {
  border: 2px solid #404040;
  background-color: #fff;
  color: #404040;
  border-radius: .2em;
  padding: 5px 10px;
  margin: 0px 10px 0px 0px;
  align-self: flex-start;
}

.current_manage_tags {
  border: 2px solid #404040;
  background-color: #404040;
  color: #fff;
  border-radius: .2em;
  padding: 5px 10px;
  margin: 0px 10px 0px 0px;
  align-self: flex-start;
}

.all_manage_tags:hover, .current_manage_tags:hover {
  cursor: pointer;
}

.save_tags {
  padding: 3px 15px !important;
  margin: 0px 150px 100px 150px !important;
  font-size: 1em !important;
}

/*
.comments_container {
  display: flex;
  justify-content: flex-start;
  padding: 5px 50px 25px 50px;
  margin: 0px 100px 10px 100px;
  font-size: .9em;
  text-decoration: none;
}
*/

.post_comment {
  text-decoration: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.file-upload-update {
  margin: 5px 0px 45px 0px;
}

.file-label-update {
  margin: 45px 0px 0px 0px;
}

.EditTitle {
  margin: 45px;
}

.EditTitle .form-control {
  margin: 0px 0px 25px 0px;
}

.upload-container {
  display: inline-block;
}

.search-bar {
  border: 2px #767676 solid;
  border-radius: .2em;
  color: #767676;
  padding: 8px 60px 8px 10px;
  align-self: flex-start;
}

.single-post, .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
}

.item-title {
  border: 1px gray solid;
  padding: 10px 0px;
  margin: 0;
  font-size: 1.1em !important;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em !important;
  background-color: #404040;
  color: #fff !important;
}

.post-item {
  border: 1px gray solid;
  padding: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em !important;
}

.post-link {
  color: #404ab4 !important;
  border-color: #a1a5d8 !important;
}

.post-link:hover {
  color: #fff !important;
  border-color: #404ab4 !important;
  background-color: #404ab4;
  transition: 200ms ease-in;
}