.Tags h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.new-tag {
  text-decoration: none;
  text-align: center;
  margin-top: 30px !important;
}

.header-container {
  justify-content: center;
  display: flex;
}

/* .tag-container {
  width: 50%;
} */

.form--tag {
  /* width: 50%; */
  float: right;
}


.container--tag {
  width: 50%;
  float: right;
}

.icon-buttons {
  display: flex;
  flex-wrap: wrap;
  border-radius: .2em;
}

.fas {
  padding: 5px;
  cursor: pointer;
}

.tag {
  border: 2px solid #404040;
  background-color: #404040;
  color: #fff;
  border-radius: .2em;
  padding: 5px 10px;
  width: 200px;
  margin: 0px 12.5px 25px 12.5px;
  /* align-self: flex-start; */
  text-align: center;
}

.hide-delete {
  display: none !important;
}


.tag:hover {
  cursor: default;
}

.tag:hover .hide-delete {
  display: block !important;
  position: absolute !important;
  margin-left: -28px;
  margin-top: -18px;

  color: #404040 !important;
  background-color: #fff;
  padding: 0px 9px 2px 9px;
  border: 1px solid #404040;
  border-radius: 2em;
  cursor: pointer;
}

.edit-link {
  text-decoration: none !important;
  color: #fff !important;
}

.cancel-edit {
  background-color: #404040 !important;
}
