/* .userBox {
  border: 1px solid black;
  width: 50%;
  padding: 1em
} */

#profiles {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.full-name, .display-name {
  width: 350px;
}

.active-status, .inactive-status {
  width: 150px;
}

.user-status {
  width: 200px;
} 

.input {
  margin-left: 10px;
}

.view-inactive, .view-users {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  margin: 100px;
  display: flex;
}

.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column !important;
}

.user_image {
  width: 200px;
  margin-right: 20px;

}

.user-link {
  color: #111 !important;
  text-decoration: none !important;
}

.user-link:hover {
  color: #fff !important;
  border-color: #404ab4 !important;
  background-color: #6167a8;
  transition: 200ms ease-in;
}

.user-item {
  border: 1px gray solid;
  padding: 25px;
  text-align: center;
  font-weight: bold;
  color: #fff !important;
  font-size: 1.2em !important;
}
