.auther_date {
  color: grey;
  font-size: 10px;
}

.Comment {
  margin: 5px;
  /* width: 40%; */
}

.comments_container {
  margin: 10px 100px;
}

.comment_sub {
  color: red !important;
}

.set_link_to_none {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.delete-comment {
  background-color: rgb(221, 82, 82) !important;
  color: white !important;
}

.edit-comment {
  background-color: rgb(221, 207, 82) !important;
  color: white !important;
}

