.auther_date {
  color: grey;
  font-size: 10px;
}

.Comment {
  margin: 5px;
  /* width: 40%; */
}

.comments_container {
  margin: 10px 100px;
}

.set_link_to_none {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}
