.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25em;
}

.form--register {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    margin-top: 50px;
}

.field-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form--register h1 {
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
}

.form--login {
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    padding: 0 5rem;
    background-color: hsla(0,0%,100%,0.75);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.form--login fieldset {
    display: flex;
    justify-content: center;
}

.form--login h1 {
    text-align: center;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.login-button {
    background: transparent;
    border: #a1a5d8 solid 2px;
    border-radius: .2em;
    color: #404ab4;
    width: 58.5%;
    padding: 5px 0px;
}

.login-button:hover {
    cursor: pointer;
}

.link--register, .link--register:visited .link--register:active, .link--register:focus {
    color: #404ab4;
}

.link--register {
    color: #404ab4;
}

.verify-password {
    margin: 0;
    padding: 0;
}

.logo-register {
    max-width: 40%;
}

.logo-container-register {
    display: flex;
    justify-content: center;
    background-color: #232323;
}